POSTGRES_DB=vetdata
POSTGRES_USER=vetdata
POSTGRES_PASSWORD=change_me_to_a_strong_password

HOST_BACKEND_PORT=8000
HOST_FRONTEND_PORT=8080

VITE_API_BASE_URL=https://api.example.com/api/v1
VITE_CLERK_PUBLISHABLE_KEY=pk_live_replace_me